# shortcuts
alias ~="cd ~"

# easier navigation:
alias -- -="cd -"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Get OS X Software Updates, and update Homebrew and its installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# docker aliases
alias dc="docker-compose"

# quick cd to repo dirs
alias gocb="cd ~/go/src/github.com/cbdr"
alias gojp="cd ~/go/src/github.com/jpalmour"
alias repos="cd $REPO_DIR"
