{{ if ne .chezmoi.os "windows" }}

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
        "*/templates",
        "*/themes",
    ]

{{ if has .zshPlugins "zsh-syntax-highlighting" }}
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]
{{ end }}

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
    exact = true
    stripComponents = 1

{{ end }}
