{{/* OS trees */}}
{{ if ne .chezmoi.os "linux"  -}}010_ubuntu_setup.sh{{- end }}
{{ if ne .chezmoi.os "darwin" -}}010_macos_setup.sh{{- end }}
{{ if ne .chezmoi.os "windows" -}}010_windows_setup.ps1{{- end }}

{{/* Profiles: .profile only for Linux */}}
{{ if ne .chezmoi.os "linux" -}}dot_profile.tmpl{{- end }}

{{/* zsh login profile: on Linux+macOS only */}}
{{ if eq .chezmoi.os "windows" -}}dot_zprofile.tmpl{{- end }}

{{/* Bootstrap entrypoints: pick the right one per OS */}}
{{ if ne .chezmoi.os "windows" -}}
000_bootstrap.ps1
020_ai_tools_setup.ps1
{{- end }}
{{ if eq .chezmoi.os "windows" -}}
000_bootstrap.sh
020_ai_tools_setup.sh
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
executable_bin/termius-startup-picker.zsh
{{- end }}

# Ignore generated shell files we don't care about
.bashrc
.bash_logout
.viminfo
.sudo_as_admin_successful

# Ignore noisy runtime dirs
.cache/**
.snap/**
.local/**
.gnupg/**
repos/**
snap/**
.config/**

# Ignore user data dirs
Desktop/**
Documents/**
Downloads/**
Music/**
Pictures/**
Public/**
Templates/**
Videos/**


