# Ignore all oh-my-zsh plugins by default...
.oh-my-zsh/plugins/**

# ...but explicitly un-ignore the ones in our list.
{{- range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
.oh-my-zsh/cache/**
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
.profile
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
bin/termius-startup-picker.zsh
.zprofile
{{ else }}
.chezmoiscripts/windows/**
{{- end }}

{{- if .is_work_machine }}
.chezmoiscripts/windows/install-ai-tools.ps1
.chezmoiscripts/linux/install-ai-tools.sh
.chezmoiscripts/darwin/install-ai-tools.sh
{{- end }}

{{- if or (not .is_work_machine) (.is_wsl) }}
.config/1Password/**
{{- end }}

# Documentation files (not deployed to home directory)
*.md

# Ignore generated shell files we don't care about
.bashrc
.bash_logout
.viminfo
.sudo_as_admin_successful

# Ignore noisy runtime dirs
.cache/**
.snap/**
.local/**
.gnupg/**
repos/**
snap/**
.config/**

# Ignore user data dirs
Desktop/**
Documents/**
{{ if eq .chezmoi.os "windows" -}}
!Documents/
!Documents/PowerShell/
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1
{{- end }}
Downloads/**
Music/**
Pictures/**
Public/**
Templates/**
Videos/**
