export ZSH=~/.oh-my-zsh
export NVM_DIR=~/.nvm
export EDITOR=vim

mkdir -p ~/Developer
export DEV_DIR=~/Developer

# prevent window names from not showing properly in tmuxinator
export DISABLE_AUTO_TITLE=true

# autostart a tmux session on logging in
export ZSH_TMUX_AUTOSTART=true

# show body by default with httpstat
export HTTPSTAT_SHOW_BODY=true

. "/usr/local/opt/nvm/nvm.sh"
