export ZSH=~/.oh-my-zsh
export NVM_DIR=~/.nvm
export EDITOR=vim

mkdir -p ~/Developer
export DEV_DIR=~/Developer

mkdir -p ~/Developer/Go
export GOPATH=~/Developer/Go
export GO15VENDOREXPERIMENT=1

# prevent window names from not showing properly in tmuxinator
export DISABLE_AUTO_TITLE=true

# autostart a tmux session on logging in
export ZSH_TMUX_AUTOSTART=true
