export NVM_DIR=~/.nvm
export EDITOR=vim
export DEVELOPER_DIR=~/Developer
export REPO_DIR=~/Developer/repos

# prevent window names from not showing properly in tmuxinator
export DISABLE_AUTO_TITLE=true
