{{- if lookPath "op" }}
[gpg]
    format = ssh

[gpg "ssh"]
    {{- if eq .chezmoi.os "darwin" }}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
    {{- else if eq .chezmoi.os "linux" }}
    program = /opt/1Password/op-ssh-sign
    {{- else if eq .chezmoi.os "windows" }}
    program = op-ssh-sign.exe
    {{- else }}
    ssh.program = op-ssh-sign
    {{- end }}

[commit]
    gpgSign = true

[user]
    signingkey = {{ onepasswordRead "op://Private/Dev SSH Key/public_key" }}
{{- else }}
# 1Password CLI not installed - signing config will be available after 1Password is configured
{{- end }}

{{- if eq .chezmoi.os "windows" }}
# Use Microsoft OpenSSH so 1Password’s agent works smoothly
[core]
    sshCommand = C:\\Windows\\System32\\OpenSSH\\ssh.exe
{{- end }}

[user]
    name = Joseph Palmour
    email = {{ if and (hasKey . "is_work_machine") (index . "is_work_machine") (ne (get . "work_email" | default "") ``) -}}{{ get . "work_email" | default "" }}{{- else -}}{{ get . "personal_email" | default "" }}{{- end }}
