{{- if .is_wsl -}}
{{- if lookPath "op.exe" -}}
{{ output "op.exe" "read" "op://Private/shell-secrets/notesPlain" }}
{{- end -}}
{{- else -}}
{{- if lookPath "op" -}}
{{ onepasswordRead "op://Private/shell-secrets/notesPlain" }}
{{- end -}}
{{- end -}}
