$ErrorActionPreference = 'Stop'

if (-not (Get-Command nvm -ErrorAction SilentlyContinue)) {
    winget install -e --id CoreyButler.NVMforWindows --accept-source-agreements --accept-package-agreements --silent
}

nvm install {{ .node_major_version }}
# Set pinned major version as the default (Windows nvm uses 'nvm use' to set default)
nvm use {{ .node_major_version }}
