$ErrorActionPreference = 'Stop'

$packages = @(
    "BurntSushi.ripgrep.MSVC"
    "Docker.DockerDesktop"
    "Git.Git"
    "GitHub.cli"
    "Google.Chrome"
    "Postman.Postman"
    "Microsoft.PowerShell"
    "Microsoft.WindowsTerminal"
    "SlackTechnologies.Slack"
    "Vim.Vim"
    "ghostty.ghostty"
    "jqlang.jq"
)

{{- if not .is_work_machine }}
$packages += "OpenAI.ChatGPT"
$packages += "Anthropic.Claude"
{{- end }}

foreach ($pkg in ($packages | Sort-Object -Unique)) {
    winget install -e --id $pkg --accept-source-agreements --accept-package-agreements --silent
}
