
$ErrorActionPreference = "Stop"
Write-Output "Installing or updating Claude Code via native installer..."

# Use the default node version
nvm use default

irm https://claude.ai/install.ps1 | iex

Write-Output "Installing/upgrading additional AI CLI tools via npm..."
{{- if not .is_work_machine }}
npm install -g @openai/codex @google/gemini-cli @google/jules
{{- end }}

