#!/usr/bin/env bash
set -euo pipefail

if [ ! -s "$HOME/.nvm/nvm.sh" ]; then
  curl -fsSL https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
fi

if [ -s "$HOME/.nvm/nvm.sh" ]; then
  . "$HOME/.nvm/nvm.sh"
  nvm install {{ .node_major_version }}
  # Set pinned major version as the default
  nvm alias default {{ .node_major_version }}
fi
