#!/bin/bash

set -eufo pipefail

if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# ensure brew is in PATH
if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -x /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
fi

{{ $brews := list
    "coreutils"
    "curl"
    "gh"
    "git"
    "gnu-sed"
    "jq"
    "make"
    "ripgrep"
    "tmux"
    "tree"
    "vim"
    "wget"
    "zsh" -}}
{{ $casks := list 
    "1password"
    "docker"
    "ghostty"
    "google-chrome"
    "slack"
    "visual-studio-code" -}}

brew bundle --file=/dev/stdin <<'EOBREW'
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOBREW
